@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

$font-roboto: "Roboto", sans-serif;
$font-pacifico: "Pacifico", cursive;
$info: #17a2b8;
$verde: #adc600;
$amarillo: #f3bb00;
$rosa: #cd0047;
$morado: #97287f;
$gris: gray;
