@import "core/variables";

.modal-title {
  color: $morado;
}
.align-middle p {
  background-image: url("../../assets/img/Burbuja-morada.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 300px;
  margin-right: 5vw;
  font-size: 0.8em;
  line-height: 1.1;
  font-weight: 400;

  padding: 20px 50px 0px 20px;
  text-align: left;
  color: $gris;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .align-middle p {
    height: 142;
    width: 281;
    padding: 15px 65px 15px 15px;
    margin: 0;
  }
}

@media (max-width: 413px) {
  .align-middle p {
    background-image: none;
  }
}
