@import "../core/variables";

//Tipo Multiple Respuesta
.multiple-container {
  @extend .pregunta-container;
}
// Tipo Elige
.pregunta-container {
  padding-bottom: 3rem;
  .options-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .btn {
      width: fit-content;
      min-width: 15rem;
      border-radius: 20px;
      margin: 0.5rem;
    }
  }
  .btn-success {
    background-color: $morado;
    border: unset;
    max-width: fit-content;
    align-self: center;
    border-radius: 20px;
    padding: auto 1rem;
    &:hover {
      background-color: $verde;
    }
    &:active {
      background-color: darken($color: $verde, $amount: 10);
    }
    &:focus {
      background-color: darken($color: $verde, $amount: 10);
    }
  }
  .btn-correct {
    background-color: $info;
    border: unset;
    max-width: fit-content;
    align-self: center;
    border-radius: 20px;
    padding: auto 1rem;
    color: white;
  }
  .btn-fail {
    @extend .btn-correct;
    background-color: $rosa;
  }
  .btn-retro-alimentacion {
    @extend .btn-correct;
    background-color: $verde;
  }
}
